{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Reset password{% endblock %}
{% block head %}Reset password{% endblock %}
{% block content %}

        <section>
            <div class="container">
                <div class="col-md-9">
                    <div class="row">
                        <div class="account-wall">
                            <form method="post" class="post_method" action=".">{% csrf_token %}
                                <table border="0">
                                    <div class="formHeaderStyle">
                                        <!--<button class="btn btn-lg btn-primary" type="button" onclick="window.location.href='/' ">Previous page</button>-->
                                        <h1>Reset password</h1>
                                        <p>Forgotten your password? Enter your email address below and we'll email instructions for setting a new one.</p>
                                        {{ form|crispy }}
                                        <button class="btn btn-lg btn-success" type="submit" value="Register">Submit</button>
                                    </div>
            		    	    </table>
            		        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}